---
layout: default.hbs
title: Accueil
---

<main class="container-main container-landing">

  <header class="header-landing">
    <div class="swipe landing-slider" id="landing-slider">
      <div class="swipe-wrap">

        <section>
          <div class="container">
            <div class="row text-center">
              <div class="row-sm">
                <h1>{{ site.title }}</h1>
              </div>

              <p class="lead">{{ site.description }}</p>
              <a href="{{link '/club/' }}" class="btn btn-default">En savoir plus <span class="icon icon-angle-right"></span></a>
              <a href="{{link '/club/inscription/' }}" class="btn btn-secondary">Inscription</a>
            </div>
          </div>
        </section>

        <section>
          <div class="container">
            <div class="row">
              <div class="col col-9 push-3 tablet-col-10 tablet-push-1 phone-col-12 phone-no-push">
                <h2>COCH Invitation 2017</h2>
                <p>Le club Corsaire-Chaparal organise le <strong>1 juillet</strong> son annuelle compétition estivale d'envergure, la <em>Corsaire-Chaparal Invitation</em>.</p>
                <a href="{{ link '/competitions/corsaire-chaparal-invitation/' }}" class="btn btn-default">En savoir plus <span class="icon icon-angle-right"></span></a>
                <a href="{{ link '/resultats/2017/corsaire-chaparal-invitation/' }}" class="btn btn-secondary">Résultats</a>
              </div>
              </div>
          </div>
        </section>

        <section>
          <div class="container">
            <div class="row">
              <div class="col col-9 push-3 tablet-col-10 tablet-push-1 phone-col-12 phone-no-push">
                <h2>Crépuscules estivaux 2017</h2>
                <p><em class="badge badge-secondary">Nouveau!</em> Le club d'athlétisme Corsaire-Chaparal offrira une série de <strong>5 crépuscules</strong> au courant de la saison estivale 2017. La programmation des épreuves est maintenant disponible dans la section <strong>Compétitions</strong>.</p>
                <a href="{{link '/competitions/crepuscules/' }}" class="btn btn-default">En savoir plus <span class="icon icon-angle-right"></span></a>
              </div>
            </div>
          </div>
        </section>

        <section>
          <div class="container">
            <div class="row">
              <div class="col col-9 push-3 tablet-col-10 tablet-push-1 phone-col-12 phone-no-push">
                <h2>Championnats provinciaux benjamins-cadets-juvéniles 2017</h2>
                <p>Le club Corsaire-Chaparal organise les <strong>15-16 juillet</strong> les championnats provinciaux pour les catégories benjamine, cadette et juvénile.</p>
                <a href="{{ link '/competitions/championnats-provinciaux-ben-cad-juv/' }}" class="btn btn-default">En savoir plus <span class="icon icon-angle-right"></span></a>
                <a href="https://www.surveymonkey.com/r/HNSGW2W" target="_blank" class="btn btn-secondary">Devenir bénévole</a>
              </div>
              </div>
          </div>
        </section>

      </div>

      <a href="#" class="slider-btn-controls slider-btn-controls-left" id="landing-slider-btn-controls-left"><span class="icon icon-angle-left"></span></a>
      <a href="#" class="slider-btn-controls slider-btn-controls-right" id="landing-slider-btn-controls-right"><span class="icon icon-angle-right"></span></a>
      <ul class="slider-bullets" id="landing-slider-bullets"></ul>

    </div>
  </header>

  <article>



    <!--
<section class="row row-space-fluid" id="nouvelles">
<span class="bg-text">2017</span>
<div class="container">

<div class="row">
<div class="col col-9 push-3 tablet-col-10 tablet-push-2 phone-col-12 phone-no-push">
<h2>Compétitions à venir</h2>

<p>La prochaine compétition organisée par le club est la <a href="{{link '/competitions/classique-hivernale/' }}">Classique hivernale Corsaire-Chaparal</a>, qui aura lieu au centre sportif Claude-Robillard le 4 février prochain.</p>

<p>Consultez le <a href="{{link '/competitions/calendrier/' }}">calendrier</a> des compétitions pour la saison hivernale.</p>
</div>
</div>

<div class="row">
<div class="col col-9 tablet-col-10 phone-col-12">
<h2>Le saviez-vous?</h2>

<p>L'année 2016 marque le <a href="{{link '/40-ans/' }}">40e anniversaire</a> du club Corsaire-Chaparal. Merci à tous ceux et celles qui, de près ou de loin, ont contribué à l'évolution ce grand club!</p>
</div>

</div>
</div>
</section>
-->
    
    <section class="row row-space-fluid">
      <div class="container">
          <h2>Robert Lavoie, un modèle d'engagement</h2>
        <div class="row">
          <div class="col col-6 tablet-col-12">
            <p>Pionnier dans l'histoire du club d'athlétisme Corsaire-Chaparal (ayant &oelig;uvré au sein de l'organisation pendant 39 ans), le directeur technique <strong>Robert Lavoie</strong> retrace son parcours sur les ondes de <a href="http://www.tvcogeco.com/laurentides/gallerie/emissions-2017/8123-rendez-vous/113952-robert-lavoie" target="_blank">CogecoTV</a>.</p>
            <p>Notons que Robert s'est récemment fait décerner le prestigieux <strong>Prix de bénévolat en loisir et en sport Dollard-Morin</strong> pour l'ensemble de son travail d'implication.</p>
          </div>
          <div class="col col-6 tablet-col-12">
            <div class="video-wrap video-wrap-16-9">
              <iframe src="https://www.youtube.com/embed/E81XE7YN31U" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="row row-space-fluid row-secondary row-showcase" id="camp-de-jour">
      <div class="bg-overlay-showcase bg-overlay-secondary"></div>
      <div class="container">
        <div class="col col-8 push-2 text-center tablet-col-10 tablet-push-1 phone-col-12 phone-no-push">
          <h2>Camp de jour en athlétisme &mdash; une réussite!</h2>

          <p>La ville de Sainte-Thérèse offrait à l'été 2016 un camp de jour spécialisé en athlétisme en collaboration avec le club d'athlétisme Corsaire-Chaparal. Cette première édition a connu un grand succès. Le club a bon espoir de reconduire l'événement l'an prochain.</p>
        </div>
      </div>
    </section>

    <!--
<section class="row row-space-fluid text-center text--gray">
<div class="container">
<h2>Connaissez-vous nos <span class="text--primary">entraîneurs</span>?</h2>

<p>Des entraîneurs passionnés certifiés par le programme national de certification des entraîneurs (<abbr title="Programme national de certification des entraîneurs">PNCE</abbr>) permettent de former les jeunes à la compétition athlétique en favorisant le développement humain.</p>

<p>Visitez la section des <a href="{{link '/club/entraineurs/'}}">entraîneurs</a>.</p>
</div>
</section>
-->
    <section class="row row-space-fluid row-showcase" id="demi-fond">
      <div class="bg-overlay-showcase bg-overlay-primary"></div>
      <div class="container">
        <div class="row">
          <div class="col col-7 tablet-col-10 phone-col-12">
            <h2>Épreuves de demi-fond au club Corsaire-Chaparal</h2>

            <p>Le club Corsaire-Chaparal a pignon sur rue dans la région des basses Laurentides depuis plus de 35 ans. Reconnu comme l'un des meilleurs clubs au Québec, 12 entraîneurs travaillent au développement des athlètes des différents groupes d’épreuves, dont l'olympien et recordman québécois <strong>Achraf Tadili</strong>.</p>

            <p>Achraf entraîne un groupe se composant d'athlètes, filles et garçons, âgés entre 14 et 20 ans, se spécialisant dans les épreuves allant du 400 m au 3000 m.</p>
          </div>
          <div class="col col-5 tablet-col-12 text-center">
            <span class="icon icon-run icon-lg"></span>
          </div>
        </div>
      </div>
    </section>
    <!--
<section class="row row-space-fluid">
<div class="container">
<div class="col col-8 tablet-col-12">
<h3>Un lieu d'entraînement idéal</h3>
<p>Les entraînements se font à la piste d'athlétisme du stade Richard-Garneau, à Sainte-Thérèse. La piste a été inaugurée à l'été 2013 pour accueillir le championnat canadien junior. En plus des huit corridors en courbe (10 en ligne droite), la piste est dotée d'une cage pour l'aire de lancers, d'une fosse à steeple ainsi que d'un large terrain d'échauffement. De plus, les gymnases de la polyvalente sont accessibles au club lors des heures d'entraînement.</p>
</div>
<figure class="col col-4 tablet-col-12 text-center">
<img src="{{link '/assets/img/map-marker-orange.png' }}" alt="Marqueur de carte"/>
</figure>
</div>
</section>
-->

    <section class="row row-space-fluid row-primary">
      <div class="container">
        <div class="col col-6 tablet-col-12 text-center">
          <p><span class="icon icon-endurance icon-lg"></span></p>
        </div>
        <div class="col col-6 tablet-col-12">
          <h3>Course sur route</h3>
          <p>Les adultes qui désirent rejoindre à un groupe de course sur route peuvent faire partie de l'équipe Endurance Rive-Nord, dirigée par le propriétaire de la boutique Endurance Pierre Léveillé.</p>
          <a href="http://boutiqueendurance.ca" class="btn btn-default">En savoir plus</a>
        </div>
      </div>
    </section>
  </article>
</main>
