<figure class="figure-lightbox">
	<div id="lightbox-display" class="lightbox-display">
		<div class="dim-lightbox"></div>
		<img class="img-responsive" src="http://corsaire-chaparal.org/photos-partage/{{ url }}" alt="{{ title }}" />
		<div class="loader"></div>
		<a class="icon icon-close close-lightbox" href="javascript:;" title="Fermer"></a>
	</div>
	<figcaption>
		<small class="title-meta">{{ tags }}</small>
		<h3>{{ title }}</h3>
		<p>{{ description }}</p>
	</figcaption>
</figure>