<aside class="navbar-side" id="navbar-side">
  <div class="h6 title-aside"><a class="toggle-sidebar left"><span class="icon icon-close"></span></a> Menu</div>
  <ul class="nav nav-side">
     {{#each navigation }}
    <li class="{{#is ../title this.name }}active{{/is}}{{#is this.subnav ../page.category }}{{#if this.subnav}}active{{/if}}{{/is}}{{#is this.subnav ../page.top_category}}{{#if this.subnav }} active{{/if}}{{/is}}">
      <a href="{{link url }}">{{ name }}</a>
      {{#if this.subnav }}
      <ul class="nav nav-side nav-side-sub">
        {{#each ../../pages }}
        {{#is data.category ../this.subnav}}
        <li>
          <a href="{{ baseurl }}{{ ../../url }}{{ basename }}/">{{ data.title }}</a>
        </li>
        {{/is}}
        {{/each}}
      </ul>{{/if}}
    </li>
    {{/each}}
  </ul>
</aside>