<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{#if page.title }}{{ page.title }} | {{/if }}{{ site.title }}</title>
  <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
  <meta name="description" content="{{#if page.description }}{{ page.description }}{{else}}{{ site.description }}{{/if}}">
  <style>{{> main.css }}</style>
  <!--	<link rel="stylesheet" href="{{link '/assets/css/main.css'}}">-->
  <link rel="icon" type="image/png" href="{{link '/assets/img/favicon.png' }}">
  <link rel="canonical" href="{{ site.url }}/{{ url }}/">
  <script>{{> head.min.js }}</script>
  <link rel="apple-touch-icon" href="{{link '/assets/img/apple-touch-icon.png' }}"/>
  <meta name="msapplication-TileColor" content="#5F1599">
  <!--[if lt IE 9]>
  <link rel="stylesheet" type="text/css" href="{{link '/assets/styles/ie.css' }}" />
  <![endif]-->
  <!--[if lt IE 8]>
  <script src="{{link '/assets/scripts/ie.js' }}"></script>
  <![endif]-->
</head>