<div class="row">
  <small class="title-meta"><span class="icon icon-calendar"></span>{{ data.date }}</small>
  <h4><a href="{{ baseurl }}/nouvelles/{{ basename }}">{{ data.title }}</a></h4>
  <p><a class="link-unstyled" href="{{ baseurl }}/nouvelles/{{ basename }}">{{#markdown}}{{truncate page 100 "..." }}{{/markdown}}</a></p>
  <a class="btn btn-primary" href="{{ baseurl }}/nouvelles/{{ basename }}">Lire la suite <span class="icon icon-angle-right"></span></a>
</div>